h1{
    display:flex;
    justify-content: center;
}

input{
    margin-left:50%;
    margin-right: 50%;
    margin-bottom:2%;
}

.cell{
    background-color: rgb(160, 160, 160);
    border: 1px solid black;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.row{
    display: flex;
    gap: 0;
    justify-content: center;
    align-items: center;
}